@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
	margin: 0;
	padding: 0;
	background: #444;
	color: #CCC;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 18px; }

body {
	margin: 80px 0; }

.heading:after {
	content: "";
	display: block;
	clear: both; }

h1.title {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	display: block;
	float: left; }

p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.65; }

a {
	color: #776e65;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer; }

strong.important {
	text-transform: uppercase; }

hr {
	border: none;
	border-bottom: 1px solid #d8d4d0;
	margin-top: 20px;
	margin-bottom: 30px; }

.container {
	width: 466px;
	margin: 0 auto; }

.game-container {
	margin-top: 20px;
	position: relative;
	padding: 3px;
	cursor: default;
	background: #222;
	border-radius: 1px;
	width: 460px;
	height: 460px;
}

.grid-container {
	position: absolute;
	z-index: 1; 
}

.grid-cell {
	width: 64px;
	height: 64px;
	margin-right: 2px;
	margin-bottom: 2px;
	float: left;
	background: #CCC; 
}

.selected {
	border: 1px solid red;
	width: 62px;
	height: 62px;
}

.grid-cell:last-child {
	margin-right: 0; 
}

.next {
	display: none;
}

.game-container .game-message {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(238, 228, 218, 0.5);
	z-index: 100;
	text-align: center;
}

.game-container .game-message p {
	font-size: 48px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	margin-top: 150px; 
	color: #666;
}

.game-container .game-message .lower {
	display: block;
	margin-top: 80px; 
}

.game-container .game-message a {
	display: inline-block;
	background: #666;
	padding: 0 20px;
	text-decoration: none;
	color: #EEE;
	height: 40px;
	line-height: 42px;
	margin-left: 9px; 
	-webkit-transition: all .15s ease-in;
	-moz-transition: all .15s ease-in;
	-ms-transition: all .15s ease-in;
	-o-transition: all .15s ease-in;
	transition: all .15s ease-in;
}

.game-container .game-message a:hover {
	background: #333;
}

.below-game {
	padding-top: 20px;
}

.option-buttons span {
	background: #CCC;
	font-size: 15px;
	padding: 7px;
	margin: 4px;
	color: #333;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.option-buttons span:hover {
	background: #999;
	cursor: pointer;
}